<section class="intro bg-[#effffb]">
  <div class="container mx-auto px-8 lg:px-4">
    <div class="relative flex flex-wrap rounded-lg bg-white [box-shadow:0_40px_0_0_#c3e5e2,0_15px_0_0_#c3e5e2] border-4 border-teal-800">
      <div class="max-sm:hidden absolute -right-3 -top-3">
        <i class="text-5xl fa-solid fa-gem text-white"></i>
      </div>
      <div class="lg:w-1/2 w-full bg-white overflow-hidden">
        <img src="/assets/images/ruby_conf_previous.jpeg">
      </div>
      <div class="lg:w-1/2 w-full px-8 py-8 lg:pt-12">
        <h1 class="text-2xl lg:text-4xl font-bold text-rose-600">
          A gem-packed, two-day single-track Ruby conference in sunny Singapore.
        </h1>
        <p class="text-sm lg:text-md text-slate-500 my-4">
          <strong>Red Dot Ruby Conference (RDRC)</strong>
          is the only Ruby programming language conference in Singapore, bringing together the brightest minds in the Ruby community in the region since 2011.
        </p>
        <p class="text-sm lg:text-md text-slate-500 my-4">
          After a brief hiatus due to the global pandemic in 2020, we are excited to reboot in 2024 and celebrating the               
        programming language we all know and love. We can't wait to meet in Singapore!
        </p>
      </div>
    </div>
  </div>

</section>