<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://rsms.me/">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    {% if jekyll.environment == "production" %}
    {% endif %}
  </head>
  <body class="text-lg">
    <div class="p-5">
      {% include header.liquid %}
      <main class="py-5">
        <div class="">
          {{ content }}
        </div>
      </main>
      <footer class="text-sm">
        {% include footer.liquid %}
      </footer>
    </div>
  </body>
</html>